pandas
matplotlib
simplejson
scipy
numpy
#hmmlearn
eyeD3
pydub
scikit_learn
tqdm
plotly
mysql-connector-python
numba
pyAudioAnalysis
ibm_watson
numba
librosa
google
google-cloud
google-cloud-speech
google-cloud-storage
boto3
